* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainContent {
  background-color: aliceblue;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px 80% 70px;

  grid-template-areas:
    'UP'
    'MD'
    'BT';
}

.Top {
  display: flex;
  justify-content: space-between;
}

.Table {
  height: 100%;
}
